<div class="container  mt-3">
    <div class="row px-3">
        <div class="col-lg-6">
            <h3 class="text-primary mt-3 fw-bold text-xl">Add User</h3>
        </div>
        <div class="col-lg-6 text-right">
            <button  mat-button (click)="onClose()">
                <mat-icon class="mx-0">clear</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="container px-3 pt-3">
    <form
    class="mt-6"
    [formGroup]="usersForm">

        <div class="row px-3 ">
            <div class="col-lg-3 grid align-items-center text-center  justify-items-center">
                <div *ngIf="avatarURL" class="position-relative ">
                    <img class="mx-auto border-4  border-b-gray-800 rounded-circle" [src]="avatarURL"  >
                    <mat-icon class="position-absolute text-primary bg-white rounded shadow" style="top: 23px;right: 26px;">cancel</mat-icon>
                </div>
                <input #file type="file" accept='image/*' [hidden]="true" (change)="changeAvatar(file.files)" formControlName="profile_picture"/>
                <button mat-raised-button color="primary" material-icons (mousedown)="file.click();" *ngIf="!avatarURL"><mat-icon class="text-white me-3">image</mat-icon>Upload Image</button>
            </div>
            <div class="col-lg-9">

                <div class="row mb-3 px-3">

                    <div class="col-lg-6">
                        <mat-form-field class="w-100">
                            <mat-label>Name</mat-label>
                            <input
                                    matInput
                                    placeholder="Enter Name"
                                    [formControlName]="'name'"
                                    required>
                            <mat-error>Name is Required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6">
                        <mat-form-field class="w-100">
                            <mat-label>Email</mat-label>
                            <input
                                    matInput
                                    placeholder="Enter Email"
                                    [formControlName]="'email'"
                                    required>
                            <mat-error>Email is Required</mat-error>
                        </mat-form-field>

                    </div>


                </div>


                <div class="row  mb-3  px-3">
                    <div class="col-lg-6">
                        <mat-form-field class="w-100">
                            <mat-label>Password</mat-label>
                            <input
                                    matInput
                                    placeholder="Enter Password"
                                    [formControlName]="'password'"
                                    required>
                            <mat-error>Password is Required</mat-error>
                        </mat-form-field>
                    </div>
                        <div class="col-lg-6">
                            <mat-form-field  class="w-100">
                                <mat-label>Select Role</mat-label>
                                <mat-select  [formControlName]="'role'">
                                    <mat-option>
                                        Client
                                    </mat-option>
                                    <mat-option>
                                        User
                                    </mat-option>
                                    <mat-option>
                                        Lead
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                </div>


                <div class="row mb-3  px-3">

                    <div class="col-lg-6">
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Select Start Date</mat-label>
                            <input matInput [matDatepicker]="picker"  [formControlName]="'start_date'" required>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Select End Date</mat-label>
                            <input matInput [matDatepicker]="picker2"  [formControlName]="'end_date'" required>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>





                </div>

                <div class="row mb-3  px-3">

                    <div class="col-lg-6">
                        <mat-form-field class="w-100">
                            <mat-label>Phone Number</mat-label>
                            <input
                                    matInput
                                    placeholder="Enter Phone Number"
                                    [formControlName]="'phone_number'"
                                    required>
                            <mat-error>Phone Number is Required</mat-error>
                        </mat-form-field>
                    </div>



                </div>
            </div>

        </div>





    </form>
    <div class="text-right mb-3 mt-4 pt-5 me-3">
   <button  mat-raised-button  class="mr-3 bg-secondary" (click)="onSubmit()">
        Submit
    </button>
    <button  mat-raised-button   color="primary" (click)="onClose()">
        Cancel
    </button>

  </div>
  </div>