<div class="container">
    <div class="row">
      <div class="col-lg-6">
          <div class="text-2xl font-bold">Client Managment</div>
  
      </div>
  </div>
      <div class="row mb-3 mt-3">
  <div class="col-lg-6">
    <mat-form-field class="mr-3">
      <mat-label>Select</mat-label>
      <mat-select [formControl]="searchSelect">
        <mat-option *ngFor="let search of searchList" [value]="search">{{search}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-50">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
      <button mat-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-lg-6 text-end place-self-end">
      <button color="primary"  (click)="onAddUser()" mat-raised-button>
          <mat-icon>add</mat-icon>
          Add Client
      </button>
  </div>
      </div>
      
        
      <div class="table-responsive w-100 rounded mat-elevation-z8">
        <table class="table w-100 mb-0">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Client Name</th>
                <th scope="col">NHS Number</th>
                <th scope="col">Postal Address</th>
                <th scope="col">Joining Date</th>
                <th scope="col">D.o.B</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients; let i = index"  class="accordion-toggle collapsed"
                id="accordion1"
                data-mdb-toggle="collapse"
                data-mdb-parent="#accordion1"
                href="#collapseOne"
                aria-controls="collapseOne"
            >
                <td class="expand-button font-extrabold text-2xl"></td>
                <td>{{ client.companyName }}</td>
                <td>{{ client.registrationNumber }}</td>
                <td  matTooltipPosition="above" matTooltipClass="custom-tooltip"   matTooltip="{{client.postalAddress}}">{{ client.postalAddress | textTruncate:15}}</td>
                <td>{{ client.startDate }}</td>
                <td>{{ client.endDate }}</td>
                <td><mat-icon class="me-2 pointer position-relative" color="primary" style="z-index: 99999" (click)="onAddBoarding($event)" matTooltipPosition="above" matTooltipClass="custom-tooltip" matTooltip="click to edit">edit</mat-icon>


                    <mat-icon class="pointer position-relative" (click)="onDelete($event)" style="z-index: 99999" color="warn" matTooltipPosition="above" matTooltipClass="custom-tooltip"  matTooltip="click to delete">delete</mat-icon> </td>



            </tr>
            <tr class="hide-table-padding">
<td>

</td>
                <td colspan="8">
                    <div id="collapseOne" class="collapse in py-3 pe-4">
                        <table class="w-100 border rounded pe-3">
                            <thead>
                            <tr >
                                <th>Name</th>
                                <th >Email</th>
                                <th>Phone Number</th>
                                <th>Relationship</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let representative of representative;">
                                <td>{{ representative.name }}</td>
                                <td  matTooltipPosition="above" matTooltipClass="custom-tooltip" matTooltip="{{representative.email}}">{{ representative.email | textTruncate:15}}</td>
                                <td>{{ representative.phoneNumber }}</td>
                                <td>{{ representative.relationship }}</td>
                                <td>{{ representative.role }}</td>
                                <td>
                                    <mat-icon class="me-2 pointer position-relative" color="primary" style="z-index: 99999" (click)="onAddBoarding($event)" matTooltipPosition="above" matTooltipClass="custom-tooltip" matTooltip="click to edit">edit</mat-icon>


                                    <mat-icon class="pointer position-relative" (click)="onDelete($event)" style="z-index: 99999" color="warn" matTooltipPosition="above" matTooltipClass="custom-tooltip"  matTooltip="click to delete">delete</mat-icon>
                                </td>
                            </tr>
                            </tbody>   
                        </table>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
  </div>
  
    
    