<section class="fxt-template-animation login-page loaded rounded">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-12 fxt-bg-color">
                <div class="fxt-content rounded shadow">
                    <div class="fxt-header">
                        <div class="logo d-flex justify-content-center">
                            <img style="width: 140px;" src="assets/logo.svg"/>
                            <!--                            <p class="fw-bold text-2xl mb-0 text-center ms-4 align-self-center title lg text-primary">HEALTH CARE</p>-->
                        </div>
                    </div>
                    <div class="fxt-form">
                        <form
                                class="mt-6" [formGroup]="">

                            <div class="row">

                                <mat-form-field class="mb-3" >
                                    <mat-label>First Name</mat-label>
                                    <input
                                            matInput
                                            placeholder="Enter First Name"
                                            [formControlName]="'firstname'"
                                            required>
                                </mat-form-field>
                                <mat-form-field class="mb-3" >
                                    <mat-label>Last Name</mat-label>
                                    <input
                                            matInput
                                            placeholder="Enter Last Name"
                                            [formControlName]="'lname'"
                                            required>
                                </mat-form-field>
                                <mat-form-field class="mb-3" >
                                    <mat-label>Email</mat-label>
                                    <input
                                            matInput
                                            placeholder="Enter Email"
                                            [formControlName]="'email'"
                                            required>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input
                                            matInput
                                            type="password"
                                            placeholder="Enter Password"
                                            [formControlName]="'password'"
                                            required>
                                </mat-form-field>


                                <div class="inline-flex items-end  w-full mt-1.5">

                                    <label>
                                        Already a member?
                                    </label>
                                    <a
                                            class="text-md font-medium ms-2 text-primary-500 hover:underline"
                                            [routerLink]="['forgot-password']">Sign In
                                    </a>
                                </div>

                            </div>

                        </form>
                        <div class="text-right mt-3">
                            <button class="w-100"  mat-raised-button color="primary" >
                                Sign Up
                            </button>
                        </div>
                        <div class="text-right mt-3">
                            <!-- <app-google-sso-login (onSigninSuccess)="onGoogleSigninSuccess($event)"></app-google-sso-login> -->
                            <button class="w-100 google-signin-button text-primary" mat-raised-button  >
                                <img src="assets/google-icon.png" alt="Google Icon" class="google-icon">
                                Sign Up With Google
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




