<div class="container mt-3">
    <div class="row px-3">
        <div class="col-lg-6">
            <h3 class="text-primary fw-bold text-2xl">Add Appointment</h3>
        </div>
        <div class="col-lg-6 text-right">
            <button  mat-button (click)="onClose()">
                <mat-icon class="mx-0">clear</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="container px-3 pt-3">
    <form
    class="mt-6"
    [formGroup]="addAppointmentForm">

    <div class="row mb-3 px-3">
        <div class="col-lg-6">
            <mat-form-field  class="w-100">
                <mat-label>Select Client</mat-label>
                <mat-select  [formControlName]="'client'">
                  <mat-option>
                   Client 1
                  </mat-option>
                  <mat-option>
                    Client 2
                   </mat-option>
                   <mat-option>
                    Client 3
                   </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-lg-6">
            <mat-form-field  class="w-100">
                <mat-label>Select User</mat-label>
                <mat-select  [formControlName]="'user'">
                  <mat-option>
                   User 1
                  </mat-option>
                  <mat-option>
                    User 2
                   </mat-option>
                   <mat-option>
                    User 3
                   </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    <div class="row mb-3  px-3">
     
<div class="col-lg-6">
    
    <mat-form-field color="accent" class="w-100">
        <mat-label>Select Appointment Date</mat-label>
        <input matInput [matDatepicker]="picker2"  [formControlName]="'start_date'" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-lg-6">
      <mat-form-field class="w-100">
          <mat-label>Location</mat-label>
          <input 
          matInput 
          placeholder="Enter Location" 
          [formControlName]="'location'" 
          required>
          <mat-error>Location Required</mat-error>
        </mat-form-field>
  </div>
</div>
        <div class="row mb-3  px-3">
            <div class="col-lg-6">
                  <mat-form-field  class="w-100">
                    <mat-label>Select Start Time</mat-label>
                    <input
                      type="text"
                      matInput
                      [ngxMatTimepicker]="timepicker"
                      [required]="required"
                    />
                  
                    <mat-icon matPrefix *ngIf="this.addAppointmentForm.get('start_time').value && !this.addAppointmentForm.get('start_time').disabled && !required" (click)="onClear($event)">
                      close
                    </mat-icon>
                  
                    <mat-icon matSuffix *ngIf="!this.addAppointmentForm.get('start_time').disabled" (click)="openFromIcon(timepicker)">schedule</mat-icon>
                  
                  </mat-form-field>
                  <ngx-mat-timepicker #timepicker></ngx-mat-timepicker>
            </div>
            
            <div class="col-lg-6">
                <mat-form-field  class="w-100">
                    <mat-label>Select End Time</mat-label>
                    <input
                      type="text"
                      matInput
                      [ngxMatTimepicker]="timepicker1"
                      [required]="required"
                    />
                  
                    <mat-icon matPrefix *ngIf="this.addAppointmentForm.get('end_time').value && !this.addAppointmentForm.get('end_time').disabled && !required" (click)="onClear($event)">
                      close
                    </mat-icon>
                  
                    <mat-icon matSuffix *ngIf="!this.addAppointmentForm.get('end_time').disabled" (click)="openFromIcon1(timepicker1)">schedule</mat-icon>
                  
                  </mat-form-field>
                  <ngx-mat-timepicker #timepicker1></ngx-mat-timepicker>
            </div>
        </div>

        <div class="row mb-3  px-3">
            <div class="col-lg-6">
                <mat-form-field class="w-100">
                    <mat-label>Add TODO Task</mat-label>
                    <input 
                    matInput 
                    placeholder="Enter TODO Task" 
                    [formControlName]="'todoTask'" 
                    required>
                    <mat-error>TODO Task Required</mat-error>
                  </mat-form-field>
            </div>

            <div class="col-lg-6">
                <section class="example-section">
                    <mat-checkbox [formControlName]="'check'" class="checkbox">Medicine</mat-checkbox>
                  </section>
            </div>
        </div>

        <div class="row mb-3  px-3">
            <div class="col-lg-12">
                <button color="primary"  mat-raised-button>
                    <mat-icon>add</mat-icon>
                    Add More
                </button>
              </div>
        </div> .
        
        <div class="row mb-3  px-3">
            <div class="col-lg-12">
            <mat-form-field class="w-100" draggable="false">
                <mat-label>Notes</mat-label>
                <textarea matInput #textarea ></textarea>
              </mat-form-field>
            </div>
        </div>
    </form>
    <div class="text-right mb-3 mt-4 me-3 py-3">
   <button  mat-raised-button  class="mr-3 bg-secondary" (click)="onSubmit()">
        Submit
    </button>
    <button  mat-raised-button  color="primary" (click)="onClose()">
        Cancel
    </button>

  </div>
  </div>