tr.hide-table-padding td {
    padding: 0;
}

.expand-button {
    position: relative;
}

.accordion-toggle .expand-button:after {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
}

.accordion-toggle.collapsed .expand-button:after {
    content: '+';
}

//tr{
//    height: 56px;
//}
th,
td {
    line-height: 39px;
    padding-left: 10px !important;
    ;
}

.pointer {
    cursor: pointer;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}