<div class="container overflow-y-auto" >
    <div class="  mt-3">
        <div class="row px-3">
            <div class="col-lg-6">
                <h3 class="text-primary mt-3 fw-bold text-xl">Add Client</h3>
            </div>
            <div class="col-lg-6 text-right">
                <button  mat-button (click)="onClose()">
                    <mat-icon class="mx-0">clear</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div>
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="personalDetailForm" >
                <form [formGroup]="personalDetailForm" style="height: 70vh; overflow-y: auto; overflow-x: hidden;">
                    <ng-template matStepLabel>User Personal Information</ng-template>
                    <div class="row mb-3 px-3">

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Client Name</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Client Name"
                                        [formControlName]="'clientName'"
                                        required>
                                <mat-error>Client Name is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Client Email</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Client Email"
                                        [formControlName]="'clientEmail'"
                                        required>
                                <mat-error>Client Email is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-3 px-3">

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Contact number</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Contact Number"
                                        [formControlName]="'contactNumber'"
                                        required>
                                <mat-error>Contact number is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>NHS Number</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter NHS Number"
                                        [formControlName]="'nhsNumber'"
                                        required>
                                <mat-error>NHS Number is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row mb-3 px-3">

                        <div class="col-lg-12">
                            <mat-form-field class="w-100">
                                <mat-label>Address</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Address"
                                        [formControlName]="'address'"
                                        required>
                                <mat-error>Address is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row mb-3 px-3">

                        <div class="col-lg-6">
                            <mat-form-field color="accent" class="w-100">
                                <mat-label>D.O.B</mat-label>
                                <input matInput [matDatepicker]="picker"  [formControlName]="'dob'" required>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker color="primary"></mat-datepicker>
                                <mat-error>D.O.B is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field color="accent" class="w-100">
                                <mat-label>Joining Date</mat-label>
                                <input matInput [matDatepicker]="picker1"  [formControlName]="'joiningDate'" required>
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 color="primary"></mat-datepicker>
                                <mat-error>Joining Date is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mt-5">
                        <h3>Emergency Contact</h3>
                    </div>

                    <div class="row mb-3 px-3">

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Name</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Name"
                                        [formControlName]="'name'"
                                        required>
                                <mat-error>Name is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Phone Number</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Phone Number"
                                        [formControlName]="'phoneNumber'"
                                        required>
                                <mat-error>Phone Number is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-3 px-3">

                        <div class="col-lg-6">
                            <mat-form-field class="w-100">
                                <mat-label>Email</mat-label>
                                <input
                                        matInput
                                        placeholder="Enter Email"
                                        [formControlName]="'email'"
                                        required>
                                <mat-error>Email is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6">
                            <mat-form-field class="me-3 w-100"  [formControlName]="'relationship'">
                                <mat-label>Relationship</mat-label>
                                <mat-select>
                                    <mat-option>
                                        Father
                                    </mat-option>
                                    <mat-option>
                                        Brother
                                    </mat-option>
                                    <mat-option>
                                        Mother
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row mb-3  px-3">
                        <div class="col-lg-6">
                            <button color="primary"  mat-raised-button>
                                <mat-icon>add</mat-icon>
                                Add More
                            </button>
                        </div>

                        <div class="px-3 text-right col-lg-6">
                            <button class="mr-3 bg-secondary"  mat-raised-button>
                                <mat-icon>navigate_next</mat-icon>
                                Next
                            </button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="usersForm" label="Account Access">

                <form
                        class="mt-6"
                        [formGroup]="usersForm">

                    <div class="row px-3 ">
                        <div class="col-lg-3 grid align-items-center text-center  justify-items-center">
                            <div *ngIf="avatarURL" class="position-relative ">
                                <img class="mx-auto border-4  border-b-gray-800 rounded-circle" [src]="avatarURL"  >
                                <mat-icon class="position-absolute text-primary bg-white rounded shadow" style="
top: 23px;
    right: 26px;
">cancel</mat-icon>

                            </div>
                            <input #file type="file" accept='image/*' [hidden]="true" (change)="changeAvatar(file.files)" formControlName="profile_picture"/>
                            <button mat-raised-button color="primary" material-icons (mousedown)="file.click();" *ngIf="!avatarURL"><mat-icon class="text-white me-3">image</mat-icon>Upload Image</button>

                        </div>
                        <div class="col-lg-9">

                            <div class="row mb-3 px-3">

                                <div class="col-lg-6">
                                    <mat-form-field class="w-100">
                                        <mat-label>Name</mat-label>
                                        <input
                                                matInput
                                                placeholder="Enter Name"
                                                [formControlName]="'name'"
                                                required>
                                        <mat-error>Name is Required</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input
                                                matInput
                                                placeholder="Enter Email"
                                                [formControlName]="'email'"
                                                required>
                                        <mat-error>Email is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row  mb-3  px-3">
                                <div class="col-lg-6">
                                    <mat-form-field class="w-100">
                                        <mat-label>Password</mat-label>
                                        <input
                                                matInput
                                                placeholder="Enter Password"
                                                [formControlName]="'password'"
                                                required>
                                        <mat-error>Password is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row mb-3  px-3">
                                <div class="col-lg-6">
                                    <mat-form-field color="accent" class="w-100">
                                        <mat-label>Select Start Date</mat-label>
                                        <input matInput [matDatepicker]="picker"  [formControlName]="'start_date'" required>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker color="primary"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6">
                                    <mat-form-field color="accent" class="w-100">
                                        <mat-label>Select End Date</mat-label>
                                        <input matInput [matDatepicker]="picker2"  [formControlName]="'end_date'" required>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row mb-3  px-3">

                                <div class="col-lg-6">
                                    <mat-form-field class="w-100">
                                        <mat-label>Phone Number</mat-label>
                                        <input
                                                matInput
                                                placeholder="Enter Phone Number"
                                                [formControlName]="'phone_number'"
                                                required>
                                        <mat-error>Phone Number is Required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="text-right mb-3 mt-4 pt-5 me-3">
                        <button  mat-raised-button  class="mr-3 bg-secondary" (click)="onSubmit()">
                            Submit
                        </button>
                        <button  mat-raised-button   color="primary" (click)="onClose()">
                            Cancel
                        </button>

                    </div>
                </form>
            </mat-step>
        </mat-stepper>

    </div>
</div>
