@font-face {
    font-family: "Inter-regular";
    src: url("../fonts/inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-medium";
    src: url("../fonts/inter/static/Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter-semibold";
    src: url("../fonts/inter/static/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter-bold";
    src: url("../fonts/inter/static/Inter-Bold.ttf");
}