/*Typography*/
/*Inter*/
$inter-r: 'inter-regular';
$inter-m: 'Nunito', sans-serif;
$inter-sb: 'inter-semibold';
$inter-b: 'inter-bold';
/**************************************/
/*Layout Components*/
$slim: 80px;
$expanded: 250px;
$header-height: 70px;
/**************************************/
/*Element Sizes*/
$h-lg: 48px;
$h-md: 40px;
$h-sm: 34px;
/**************************************/
$primary: 
#dbefec5c;
$secondary: #414042;
$dark-blue: #007B76;

$danger: #ff0e0e;

$text: #414042;
$text-light:#6E6E74;
$text-dark: #2D2E46;
$text-muted: #5E718D;

$text-success:#00B69B