@import 'variables';
html ,body{
    font-family: $inter-r;
    height: 100%;
    margin: 0;
}
html{

}
body{

}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #E3E5F5;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #94A3B8;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}
/*******************************/
.card{
    background: #fff;
    border: none;
    border-radius: 10px;
    .card-header{
        border: none;
        padding: 20px 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        background: #fff;
        border-radius: 10px 10px 0 0;
        .card-title{
            color: #455468;
            font-size: 18.79px;
            font-family: $inter-sb;
            margin: 0;
        }
    }
    .card-body{
        padding: 20px;
    }
    &.border{
        border: 1px solid #D9D9D9 !important;
        border-radius: 8px;
    }
}
.component-header{
    margin-bottom: 30px;
}
/*******************************/
.badge{
    background: #F0F3F9;
    border-radius: 6px;
    padding: 8px 8px;
    color: #5E718D;
    font-family: $inter-r;
    font-size: 12px;
    &.badge-primary-light{
        background: rgba(211, 15, 63, 0.1);
        color: $primary;
    }

    &.badge-warning-light{
        background: #FFEFE7;
        color: #303030;
    }
}
/*******************************/
.counters-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item{
        .data-title{
            font-size: 14px;
            font-family: $inter-m;
            color: #45496A;
        }
        .data-value{
            font-size: 24px;
            font-family: $inter-m;
            color: $text-dark;
        }
    }
    &.list{
        flex-direction: column;
        gap: 15px;
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .data-title{
                font-size: 14px;
                font-family: $inter-m;
                color: #45496A;
            }
            .data-value{
                font-size: 16px;
                font-family: $inter-m;
                color: $text-dark;
            }
        }
    }
}
.data-items{
    display: flex;
    align-items: center;
    gap:30px;
    .item{
        .data-title{
            font-size: 14px;
            font-family: $inter-m;
            color: #45496A;
        }
        .data-value{
            font-size: 16px;
            font-family: $inter-m;
            color: $text-dark;
            display: flex;
            align-items: center ;
        }
    }
}
/*new data view styles the above one will obsolete*/
// .data_view{
//     &_item{
//        &_title{
//             font-size: 14px;
//             font-family: $inter-m;
//             color: #45496A;
//         }
//         &_value{
//             font-size: 14px;
//             font-family: $inter-r;
//             color: #686C87;
//         }
//     }
// }
/*******************************/
.centered-buttons {
  display: flex;
//   justify-content: center;
  align-items: center;
  padding-top: 11px !important;
}
/*******************************/
.p-menu {
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    .p-menu-list{
        .p-menuitem {
            .p-menuitem-link{
                .p-menuitem-text{
                    color: $text;
                    font-size: 12px;
                    font-family: $inter-m;
                }
            }
        }
    }
}
/*******************************/
.confirmDialog-styles{
    .p-dialog-header{
        .p-dialog-title{
            margin: 0;
            font-size: 18px;
            font-family: $inter-sb;
            color: $text-dark;
        }
    }
    .p-dialog-content{
        i{
    font-size: 20px !important;
    color: $text;
    margin-right: 10px;
        }
        .p-confirm-dialog-message{
            margin: 0;
            font-size: 16px;
            font-family: $inter-r;
            color: $text;
        }
    }
    .p-dialog-footer{
        >button{
            height: $h-md;
            border-radius: 5px;
            font-size: 15px;
            font-family: $inter-m;
            padding: 5px 15px;
            white-space: nowrap;
        }
        .p-confirm-dialog-reject{
            background: $secondary;
            border-color: $secondary;
            color: #fff;
            &:hover{
                background: $secondary;
                border-color: $secondary;
                color: #fff;
            }
        }
        .p-confirm-dialog-accept{
            background: $primary;
            border-color: $primary;
            color: #fff;
            margin-right: 0;
            &:hover{
                background: $primary;
                border-color: $primary;
                color: #fff;
            }
            &[disabled], &.disabled{
                background: #414042;
                border-color: #414042;
                opacity: 1;
            }
        }
    }
    
}
// .p-button{
//     background: #D30F3F;
//     border-color: #D30F3F;
//     color: #fff;
// }
// .p-button.p-button-outlined{
//     background: #414042;
//     border-color: #414042;
//     color: #fff;
// }
// .p-button.p-button-text{
//     color: #D30F3F !important;

// }
// .p-button:enabled:hover{
//     background: #D30F3F;
//     border-color: #D30F3F;
//     color: #fff;
// }
// .p-button.p-button-outlined:enabled:hover {
//     background: #414042;
//     border-color: #414042;
//     color: #fff;
// }