<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <div class="text-2xl font-bold">Recipe management</div>

    </div>
</div>
    <div class="row mb-3 mt-3">
<div class="col-lg-6">
  <mat-form-field class="mr-3">
    <mat-label>Select</mat-label>
    <mat-select [formControl]="searchSelect">
      <mat-option *ngFor="let search of searchList" [value]="search">{{search}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-50">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
    <button mat-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  
</div>
<div class="col-lg-6 text-end place-self-end">
    <button color="primary"  (click)="onAddAppointment()" mat-raised-button>
        <mat-icon>add</mat-icon>
        Add Appointment
    </button>
</div>
    </div>
    
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
      
  
          <!-- Progress Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['activity-details']" class="pointer"> {{row.date}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="appointment_time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Time </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['activity-details']" class="pointer"> {{row.appointment_time}} </td>
          </ng-container>
      
          <!-- Fruit Column -->
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
            <td mat-cell *matCellDef="let row"  [routerLink]="['activity-details']" class="pointer"> {{row.client}} </td>
          </ng-container>

          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['activity-details']" class="pointer"> {{row.user}} </td>
          </ng-container>

          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
            <td mat-cell *matCellDef="let row" [routerLink]="['activity-details']" class="pointer"><mat-chip-listbox aria-label="task">
              <mat-chip color="primary"  matTooltip="{{row.task}}" matTooltipPosition="above" matTooltipClass="custom-tooltip">
                {{ row.task | textTruncate: 15}}
                </mat-chip>
            </mat-chip-listbox>
          </td>
          </ng-container>

          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
            <td mat-cell *matCellDef="let row" matTooltip="{{row.notes}}" matTooltipPosition="above" matTooltipClass="custom-tooltip" [routerLink]="['activity-details']"class="pointer custom-tooltip">
                {{ row.notes | textTruncate: 15}}
              </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let row" matTooltip="{{row.location}}" matTooltipPosition="above" matTooltipClass="custom-tooltip" [routerLink]="['activity-details']" class="pointer custom-tooltip">
                {{ row.location | textTruncate: 15}}
              </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">     

                    <mat-icon class="me-2 pointer position-relative" color="primary" style="z-index: 99999" (click)="onAddAppointment()" matTooltipPosition="above" matTooltipClass="custom-tooltip" matTooltip="click to edit">edit</mat-icon>


                    <mat-icon class="pointer position-relative" (click)="onDelete()" style="z-index: 99999" color="warn" matTooltipPosition="above" matTooltipClass="custom-tooltip"  matTooltip="click to delete">delete</mat-icon>

            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="10">
              <div class="h-96 grid content-center">
                <img src="assets/no-data.jpg" class="w-56 mx-auto">
              </div>
              
              </td>
          </tr>
        </table>

      </div>
</div>

  
  