<div class="container">
    <div class="row">
      <div class="col-lg-6">
          <div class="text-2xl font-bold">

              Activity Logs</div>
  
      </div>
  </div>
      <div class="row mb-3 mt-3">
  <div class="col-lg-6">
    <mat-form-field class="mr-3">
      <mat-label>Select</mat-label>
      <mat-select [formControl]="searchSelect">
        <mat-option *ngFor="let search of searchList" [value]="search">{{search}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-50">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
      <button mat-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-lg-6 text-end place-self-end">
    <mat-form-field appearance="fill">
        <mat-label>Select Start and End Date</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
  </div>
      </div>
      
        
        <div class="mat-elevation-z8 background-transparent">
          <table mat-table [dataSource]="dataSource" matSort class="mat-table">
   
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile/Name </th>
            <td mat-cell *matCellDef="let row">
                <span>
                    <a class="btn avatar-button rounded-circle overflow-hidden p-0 m-0 d-inline-flex">
                    <span data-v-0a07f886="" class="avatar-span border-0 d-inline-flex align-items-center justify-content-center text-white text-uppercase text-nowrap font-weight-normal">

                    </span>
                </a>
                    <!---->
                </span>

                <span class="font-bold text-primary ms-2">{{row.name}}</span>


            </td>

          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
    
          
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
              <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="activity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
                <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
              </ng-container>
        
        
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let row"> {{row.date}} </td>
            </ng-container>
        
            
  
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
              <td mat-cell *matCellDef="let row">               
                  {{ row.role }}                
            </td>
            </ng-container>
  
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
  
        </div>
  </div>
  
    
    